body {
            font-family: 'Outfit', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: hsl(212, 45%, 89%);
        }
        h1 {
            color: hsl(218, 44%, 22%);
            width: 256px;
            height: 52px; 
            font-size: 20px;
            font-weight: bold;
            line-height: 120%;
            letter-spacing: 0px;
            font-family: 'Outfit', sans-serif;
            margin: 0;
        }

        img {
            width: 288px;
            height: 288px;
            border-radius: 10px;

        }
        p {
            /* margin-top: 20px; */
            color: hsl(216, 15%, 48%);
            font-size: 15px;
            line-height: 140%;
            letter-spacing: 0.2px;
            width: 256px;
            height: auto;

        }
        div {
            display: flex; 
            flex-direction: column; 
            gap: 16px; 
            text-align: center; 
            width: 288px; 
            height: 131px; 
            padding-left: 16px; 
            padding-right: 16px;
    
        }
        #card {
            height: 499px;
            width: 320px fit-content;
            text-align: left;
            align-items: flex-start;
            gap: 24px;
            border-radius: 20px; 
            padding-top: 16px;
            padding-bottom: 40px;
            background-color: hsl(0, 0%, 100%);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
